services:
  deckbrew-api:
    build:
      context: ..
      dockerfile: infra/Dockerfile.api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    restart: unless-stopped
